<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online-Voting</title>
  <link rel="stylesheet" href="">
</head>
<body>
    <h1>What all can you do in this ?</h1>
    <p id="msg">As an administrator:</p>
    <ul>
      <li class="list">Create an election.</li>
      <li class="list">Send the election to the voter's list!</li>
      <li class="list">Compute the tally.</li>
      <li class="list">Publish and release the results.</li>
    </ul>
    <p>As a voter:</p>
    <ul>
      <li>Vote in the elections assigned to you.</li>
      <li>Verify that your votes has been cast correctly.</li>
      <li>Can vote any no. of times (The only catch here is that Your Last Vote COUNTS!)</li>
      <li>You will get all updates regarding the elections (assigned to you) in your E-mail ID.</li>
    </ul>
</body>
</html>
